<html>
    <head>

    </head>
    <style>
        .mn{
            display: flex;
            justify-content:space-evenly;
            background-color: blanchedalmond;
            height: 50px;
            border-radius: 5px;
        }
        #view{
            margin-top: 10px;
            margin-left: 10px;
        }
        #add{
            margin-top: 10px;
            margin-left: 10px;
        }
        #home{
            margin-top: 10px;
            position: relative;
        }
        a{
            text-decoration: none;
            color:rgb(6, 41, 77);
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: x-large;
        }
    </style>
    <body>
        <div class="mn">
            <div id="home"><a href='/'>Home</a></div>
            <div id="view"><a href='/show'>View-Docs</a></div>
            <div id="add"><a href="/add">Add-Docs</a></div>
        </div>
    </body>
</html>