<html>
<head>
<title>File Manager</title>
<link rel="icon" href="/img/main_icon.png">
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
    {{>header}}
    <div class="main">
    <div class="view_doc" onclick="viewchange(this)"><img src='/img/view_doc.png'><p>View My Documents</p></div>
    <div class="add_doc" onclick="addchange(this)"><img src='/img/add_doc.png'><p>Add More Documents</p></div>
    </div>
</body>
<script src='/js/home.js'></script>
</html>