<html>
    <head>
        <title>File Manager</title>
    </head>
   <link rel='stylesheet' href='/css/style.css'>
   <link rel="icon" href="/img/main_icon.png">
    <body>
        {{>header}}
        <div class="obj" id="obj">
            
        </div>
    </body>
    <script src='/js/view.js'></script>
</html>