.main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.add_doc{
    box-shadow: 2px 4px 2px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}
.view_doc{
    box-shadow: 2px 4px 2px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}
p{
    color: #706a6a;
    font-family: ''Courier New', Courier, monospace';
}